body {
  @apply bg-bkg text-content text-base;
}



@media (prefers-color-scheme: dark) {
  :root {
    --color-bkg-theme-switch-container: 2 6 23;
    --color-content-theme-switch-container: 243 244 246;
  }
}

body[data-theme="dark"] {
  --color-bkg-theme-switch-container: 2 6 23;
  --color-content-theme-switch-container: 243 244 246;
}

:root {
  --color-bkg-theme-switch-container: 226 232 240;
  --color-content-theme-switch-container: 39 39 42;
}

body[data-theme="light"] {
  --color-bkg-theme-switch-container: 226 232 240;
  --color-content-theme-switch-container: 39 39 42;
}
